@use './mixins' as mix;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	font: inherit;
}

html {
	// 1 rem = 10px => 10px / 16px = 62.5%
	@include mix.breakpoint(sm) {
		font-size: 62.5%;
	}

	@include mix.breakpoint(md) {
		font-size: 62.5%;
	}
}

h1 {
	font-size: 3rem;
	color: red;
	font-weight: 600;
	text-align: center;
	margin-top: 4rem;
}
