@use './variables' as var;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
	font-family: 'Outfit', sans-serif;
	color: var.$soft-blue;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.6;
}
